{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image" href="{% static "favicon.ico" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "login/base.css" %}">
    <title>{%  block title %} myToolWorkbench {%  endblock %}</title>
</head>
<body>
    <main>
        {% if user.is_authenticated %}
            <ul class="nav-bar">
                <li><img class="small-logo" src="{% static  "shared/logo-w.png" %}"> </li>
                <li class="nav-item-l"><a class="nav-time-a" href="{% url 'dashboard' %}"><p>Home</p></a></li>
                <li class="nav-item-l"><a class="nav-time-a" href="{% url 'inventory' %}"><p>Inventory</p></a></li>
                <li class="nav-item-l"><a class="nav-time-a" href="{% url 'sale' %}"><p>Make Sale</p></a></li>
                <li class="nav-item-l"><a class="nav-time-a" href="{% url 'people' %}"><p>Businesses</p></a></li>
                <li class="nav-item-r highlight"><a class="nav-time-a" href="{% url 'logout' %}"><p>Logout</p></a></li>
                <li class="nav-item-r"><p class="nav-time-b"> Hello, {{ user.first_name }} </p></li>
            </ul>

            <!-- THIS IS WHERE STUFF NEEDS TO BE PUT! -->
            {% block content %}
            {% endblock %}

        {% else %}
            <div>
                <div class="mTW-logo">
                    <img src="{% static "login/mTW-Full.jpg" %}" alt="mTW-Full">
                </div>
                <div class="button_container">
                    <a href="{% url 'login' %}"> <button class="linkButton" > Login </button> </a>
                    <a href="{% url 'register' %}"> <button class="linkButton"> Register </button> </a>
                </div>
            </div>
        {% endif %}
    </main>
</body>
</html>