{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image" href="{% static "favicon.ico" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "login/base.css" %}">
    <title>myToolWorkbench</title>
</head>
<body>
    <main>
        {% if user.is_authenticated %}
            Hi {{ user.first_name }}!
            <p class="logout"><a href="{% url 'logout' %}">logout</a></p>
            <!-- THIS IS WHERE STUFF NEEDS TO BE PUT! -->
        {% else %}
            <div>
                <div class="mTW-logo">
                    <img src="{% static "login/mTW-Full.jpg" %}" alt="mTW-Full">
                </div>
                <div class="button_container">
                    <a href="{% url 'login' %}"> <button class="linkButton" > Login </button> </a>
                    <a href="{% url 'register' %}"> <button class="linkButton"> Register </button> </a>
                </div>
            </div>
        {% endif %}
    </main>
</body>
</html>