{%  extends 'base.html' %}

{% block content %}

    <h1>{{ business.name }}</h1>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <p> Address: {{ business.address }} <br>
        Owner: {{ business.owner_first }} {{ business.owner_last }} <br>
        Phone Number: {{ business.phone_number }} <br>
        Day Visited: {{  business.get_day_visited_display }} <br>
        Employees:
    </p>

        <ul>
        {% for customer in business.employees.all %}
            <li> <h4>{{ customer.first_name }}</h4>
        {% empty %}
            No customers at this stop.
        {% endfor %}
        </ul>
    <label style="float: left;"> <a href="{% url 'add-customer' %}"> Add Customer </a> </label>
{% endblock %}