<!-- templates/dashboard.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}myTW Dashboard{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static "css/dashboard.css" %}">
{% endblock %}

{% block content %}
    <div class="todayList">
        {% if today_business_list %}
            {% for business in today_business_list %}
                <div class="todayList__item" id="{{ business.id }}">
                    <a href="{%  url 'business-details' business.id %}">
                        <h1>{{ business.name }}</h1>
                        <hr>
                    </a>
                    <p class="item__left">Owner: {{ business.owner_last }}, {{ business.owner_first }}</p>
                    <p class="item__right">Tel: {{ business.phone_number }}</p>
                    <script>
                        function gotoGoogleMaps() {
                            document.getElementById("google_map").src =  "https://www.google.com/maps/embed/v1/place?key=AIzaSyCCWF2jywnf4CMsMw4kwwiokd0V1KXR9WA&q={{ business.address }}";
                            document.getElementById("google_map").contentWindow.location.reload();
                        }
                    </script>
                    <p class="item__none">Address: <button onclick="gotoGoogleMaps()">{{ business.address }}</button></p>
                </div>
            {% endfor %}
        {% else %}
            <p>No stops today.</p>
        {% endif %}
    </div>
    <div class="map" >
        <iframe id="google_map" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCCWF2jywnf4CMsMw4kwwiokd0V1KXR9WA&q=110+8th+stTroy+NY" width="1200" height="800" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
{% endblock %}