<!-- templates/dashboard.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}myTW Inventory{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static "css/inventory.css" %}">
{% endblock %}

{% block content %}
     <div class="button_bar">
        <a href="{% url 'add-inventory' %}"> Add Tools </a>
    </div>

    {% if inventory %}
        {% for tool in inventory %}
            <div class="tool_card">
                <ul>
                    <li>
                       {{ tool.tool_id }}
                    </li>
                    <li>
                        {{ tool.description }}
                    </li>
                    <li>
                        {{ tool.regular_retail }}
                    </li>
                    <li>
                        {{ tool.inventory }}
                    </li>
                </ul>
                </div>
        {% endfor %}
    {% else %}
        <p>Your inventory is empty</p>
    {% endif %}
{% endblock %}