<!-- templates/dashboard.html -->
{% extends 'base.html' %}

{% block title %}myTW People{% endblock %}

{% block content %}
    BUSINESSES
    <label style="float: right;"> <a href="{% url 'add-business' %}"> Add Business </a> </label>


    {% if business_list %}
        <ul>
        {% for business in business_list %}
            <li> <a href="{%  url 'business-details' business.id %}"><h4>{{ business.name }}</h4></a>
                {{ business.address }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No businesses are available.</p>
    {% endif %}


{% endblock %}
