<!-- templates/dashboard.html -->
{% extends 'base.html' %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/people.css" %}">
{% endblock %}

{% block title %}myTW People{% endblock %}

{% block content %}
    <label style="float: right;"> <a href="{% url 'add-business' %}"> Add Business </a> </label>

    {% if business_list %}
        {% for business in business_list %}
            <div class="business_card">
                <a href="{%  url 'business-details' business.id %}">
                    <h1>
                        {{ business.name }}
                    </h1>
                </a>
                <p>

                    {{ business.address }}
                </p>
            </div>
        {% endfor %}
    {% else %}
        <p>No businesses are available.</p>
    {% endif %}


{% endblock %}
