.mTW-logo {
    text-align: center;
    margin: 5% 0 2% 0;
    position: relative;

}

.button_container {
    text-align: center;
}

.linkButton {
    background-color: #a51e24;
    font-size: 16pt;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px black solid;
    cursor: pointer;
    width: 25%;
    max-width: 300px;
}

img {
    width: 70%;
    max-width: 579px;
}

/* Navigation Bar */
.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-item-l {
    float: left;
}

.nav-item-r {
    float: right;
}

.nav-time-a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-time-a:hover {
    background-color: #a51e24;
}