<!-- templates/registration/login.html -->


{% load static %}

{% block content %}
<form action ="{%  url 'login' %}" method="post">
    {% csrf_token %}

    <head>
        <link rel="stylesheet" type="text/css" href="{% static "login/login.css" %}">
    </head>

    <div class="mTW-logo-large">
        <img src="{% static "login/mTW-Full.jpg" %}" alt="mTW-Full">
    </div>


    <div class="notImage" align="center">
        {%  if form.errors %}
        <div class="loginError">
            <p>Your username and/or password didn't match our records.
            Please try again.</p>
        </div>
        {% endif %}
        <div class="loginFields">
        <label for="username">
            <b> Username: </b>
        </label>
        <p>{{ form.username }}</p>

        <label for="password">
            <b> Password: </b>
        </label>
        <p>{{ form.password }}</p>
        </div>

        <div>
            <button type="submit" class="loginButton" value="login"> Login </button>
        </div>

        <div class="loginExtras">
            <input type="checkbox" checked="checked" name="rememberMe" style="float: left;">
            <label for="rememberMe" style="float: left;"> Remember Me? </label>

            <label> <a href="doSomeThing"> Forgot Password? </a> </label>

            <label style="float: right;"> <a href="doSomeThing"> Register </a> </label>
        </div>
    </div>

</form>
{% endblock %}