<!-- templates/registration/login.html -->
{% load static %}

{% block content %}
<form action="{% url 'login' %}" method="post" xmlns="http://www.w3.org/1999/html">
    {% csrf_token %}

    <head>
        <link rel="icon" type="image" href="{% static "favicon.ico" %}"/>
        <title> myToolWorkbench Login </title>
        <link rel="stylesheet" type="text/css" href="{% static "login/login.css" %}">
    </head>

    <div class="mTW-logo-large">
        <img src="{% static "login/mTW-Full.jpg" %}" alt="mTW-Full">
    </div>


    <div class="notImage" align="center">
        {%  if form.errors %}
        <div class="loginError">
            <span>
                <b>
                    Your username and/or password didn't match our records.
                <br>
                    Please try again.
                </b>
            </span>
        </div>
        {% endif %}
        <div class="loginFields">
        <label for="username">
            <b> Username: </b>
        </label>
        <span>{{ form.username }}</span>

        <label for="password">
            <b> Password: </b>
        </label>
        <span>{{ form.password }}</span>
        </div>

        <div>
            <button type="submit" class="loginButton" value="login"> Login </button>
        </div>

        <div class="loginExtras">
            <input type="checkbox" checked="checked" name="rememberMe" style="float: left;">
            <label for="rememberMe" style="float: left;"> Remember Me? </label>

            <label> <a href="doSomeThing"> Forgot Password? </a> </label>

            <label style="float: right;"> <a href="doSomeThing"> Register </a> </label>
        </div>
    </div>

</form>
{% endblock %}