<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% load static %}

{% block content %}
<form method="post">
    {% csrf_token %}

    <head>
        <link rel="stylesheet" type="text/css" href="{% static "login/login.css" %}">
    </head>

    <div class="mTW-logo-large">
        <img src="{% static "login/mTW-Full.jpg" %}" alt="mTW-Full">
    </div>

    <div class="notImage" align="center">
        <div class="loginFields">
        <label for="uname">
            <b> Username: </b>
        </label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label for="password">
            <b> Password: </b>
        </label>
        <input type="password" placeholder="Enter Password" name="password" required>
        </div>

        <div>
            <button type="submit" class="loginButton"> Login </button>
        </div>

        <div class="loginExtras">
            <input type="checkbox" checked="checked" name="rememberMe">
            <label> Remember Me? </label>

            <label> <a href="doSomeThing"> Forgot Password? </a> </label>
        </div>
    </div>

</form>
{% endblock %}}