.business_card {
    float: left;
    width:  30%;
    min-width: 400px;
    border: 2px black solid;
    padding: 10px 25px 25px 25px;
    background: #f2f2f2;
}

.button_bar {
    width: 100%;
    height: 50px;
    float: left;
}

.button_bar__bar {
    border: 1px solid black;
    width: 100%;
}

.item__left {
    float: left;
}

.item__right {
    float: right;
}

.item__none {
    clear: left;
}

a {
    text-decoration: none;
    color: #a51e24;
}